name: Build Meowcoin

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'apps/meowcoin/**'

jobs:
  build_meowcoin:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/meowcoin

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./apps/meowcoin
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/meowcoin:v3.0.4
            ${{ secrets.DOCKER_USERNAME }}/meowcoin:latest
